[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.26.0"
bs4 = "==0.0.1"
mutagen = "==1.45.1"
html5lib = "==1.1"
pyperclip = "==1.8.2"
pytest = "==6.2.5"
pyDes = "==2.0.1"
yt-dlp = "==2021.9.25"
attrs = "==21.2.0"
beautifulsoup4 = "==4.10.0"
certifi = "==2021.5.30"
charset-normalizer = "==2.0.6"
idna = "==3.2"
iniconfig = "==1.1.1"
pluggy = "==1.0.0"
py = "==1.10.0"
pycryptodome = "==3.10.4"
pyparsing = "==2.4.7"
six = "==1.16.0"
soupsieve = "==2.2.1"
toml = "==0.10.2"
urllib3 = "==1.26.7"
webencodings = "==0.5.1"
websockets = "==10.0"
youtube_dl = "==2021.6.6"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.10"
